IDENTITY_ENDPOINT="http://localhost:8080/identity/v3/"
DEFAULT_ENDPOINT_INTERFACE="public"
PORT="4001"
IMAGE_METADATA_EXCLUDED_PROPERTIES="name,tags,visibility,protected,min_disk,min_ram,id,status,size,checksum,created_at,updated_at,created-at,updated-at,disk_format,container_format,file,schema,locations,self,direct_url,owner,virtual_size,kernel_id,ramdisk_id,os_hash_algo,os_hash_value,os-hash-algo,os-hash-value,stores,owner_specified.openstack.md5,owner_specified.openstack.sha256,owner_specified.openstack.object"

# mitmproxy configuration (uncomment to enable proxy debugging)
# Set this to route all OpenStack API calls through mitmproxy
# GLOBAL_AGENT_HTTP_PROXY=http://localhost:8888
# Disable SSL check, this is needed to use mitmproxy as man in the middle
# NODE_TLS_REJECT_UNAUTHORIZED=0